body {
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  border-bottom: 1px solid lightgrey;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}
nav .fashionhub {
  width: 40%;
}

.morning {
  color: #C0C3C6;
  font-size: 12px;
  margin-bottom: 0;
}

.scarlet {
  color: #1D364D;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

nav:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

main {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}
main .images-firstfoto {
  width: 95%;
}
main figure {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
}
main .div-main {
  width: 47%;
}
main .div-main hr {
  width: 100%;
  color: #E4E4E4;
  border: 1px solid #E4E4E4;
}
main .paths {
  background-color: #edf0f8;
  color: #A3A9C2;
  padding: 10px;
  width: 433px;
  border-radius: 10px;
}
main .paths span:nth-last-child(1) {
  color: #3A4980;
  font-weight: 500;
}

.div1 {
  display: flex;
  justify-content: space-between;
}
.div1 img {
  align-self: center;
}
.div1 section h3 {
  font-size: 1.75rem;
  margin: 41px 0 16px;
}
.div1 section p {
  font-size: 1rem;
  color: #B9BBBF;
}

.div2 {
  display: flex;
  justify-content: space-between;
  width: 81%;
}
.div2 section:nth-child(1) .price {
  color: #3A4980;
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 0;
}
.div2 section:nth-child(1) .deleted {
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.5019607843);
  margin-top: 10px;
  font-size: 1.3rem;
}
.div2 section:nth-child(2) {
  align-self: center;
  margin-top: 30px;
}
.div2 section:nth-child(2) p {
  color: #B9BBBF;
  font-size: 0.9rem;
}
.div2 section:nth-child(2) p span {
  color: #3E9242;
}

.div3 div {
  margin-bottom: 15px;
}
.div3 p {
  font-size: 1rem;
  color: #B9BBBF;
}

.div4 {
  margin-bottom: 35px;
}
.div4 p {
  font-size: 1rem;
  color: #B9BBBF;
}
.div4 label {
  width: 19%;
  height: 40px;
  background-color: #F3F3F3;
  color: #726C6C;
  border-radius: 8px;
  margin: 10px;
  padding: 10px 10px 10px 0;
}
.div4 label input {
  background-color: #3A4980;
}
.div4 label input input::radio {
  accent-color: #3A4980;
}

.div5 {
  display: flex;
  justify-content: start;
  padding-top: 15px;
}
.div5 div:nth-child(1) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 28%;
  height: 59px;
  border-radius: 30px;
  background-color: #F3F3F3;
  margin-right: 30px;
}
.div5 div:nth-child(1) p:nth-child(1) {
  color: #A3A3A3;
  font-size: 1.125rem;
}
.div5 div:nth-child(1) p:nth-child(2) {
  color: #3A4980;
  font-size: 1.375rem;
  font-weight: 700;
}
.div5 div:nth-child(1) p:nth-child(3) {
  color: #3A4980;
  font-size: 1.125rem;
}
.div5 div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51%;
  height: 59px;
  border-radius: 30px;
  background-color: #3A4980;
  color: #fff;
}

.div6 {
  border: 1px solid #E4E4E4;
  border-radius: 14px;
  padding: 17px;
  margin-top: 30px;
}
.div6 section {
  display: flex;
  justify-content: start;
  align-items: start;
}
.div6 section article {
  margin-left: 15px;
}
.div6 section article p:nth-child(1) {
  margin: 5px;
  color: #1D364D;
  font-size: 1.1rem;
  font-weight: 700;
}
.div6 section article p:nth-child(2) {
  margin: 5px;
}
.div6 section article p:nth-child(2) a {
  color: #726C6C;
  font-size: 0.875rem;
  text-decoration: underline #726C6C;
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
  html {
    font-size: 14px;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 1px solid lightgrey;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
  }
  nav .fashionhub {
    width: 40%;
  }
  .morning {
    color: #C0C3C6;
    font-size: 12px;
    margin-bottom: 0;
  }
  .scarlet {
    color: #1D364D;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  nav:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    width: 36%;
  }
  main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
  }
  main .images-firstfoto {
    width: 95%;
  }
  main figure {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
  }
  main .div-main {
    width: 47%;
  }
  main .div-main hr {
    width: 100%;
    color: #E4E4E4;
    border: 1px solid #E4E4E4;
  }
  main .paths {
    background-color: #edf0f8;
    color: #A3A9C2;
    padding: 10px;
    width: 375px;
    border-radius: 10px;
  }
  main .paths span:nth-last-child(1) {
    color: #3A4980;
    font-weight: 500;
  }
  .div1 {
    display: flex;
    justify-content: space-between;
  }
  .div1 img {
    align-self: center;
  }
  .div1 section h3 {
    font-size: 1.75rem;
    margin: 41px 0 16px;
  }
  .div1 section p {
    font-size: 1rem;
    color: #B9BBBF;
  }
  .div2 {
    display: flex;
    justify-content: space-between;
    width: 81%;
  }
  .div2 section:nth-child(1) .price {
    color: #3A4980;
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 0;
  }
  .div2 section:nth-child(1) .deleted {
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.5019607843);
    margin-top: 10px;
    font-size: 1.3rem;
  }
  .div2 section:nth-child(2) {
    align-self: center;
    margin-top: 30px;
  }
  .div2 section:nth-child(2) p {
    color: #B9BBBF;
    font-size: 0.9rem;
  }
  .div2 section:nth-child(2) p span {
    color: #3E9242;
  }
  .div3 div {
    margin-bottom: 15px;
  }
  .div3 p {
    font-size: 1rem;
    color: #B9BBBF;
  }
  .div4 {
    margin-bottom: 20px;
  }
  .div4 .radio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .div4 p {
    font-size: 1rem;
    color: #B9BBBF;
  }
  .div4 label {
    width: 70%;
    height: 30px;
    background-color: #F3F3F3;
    color: #726C6C;
    align-self: center;
    text-align: center;
    border-radius: 8px;
    padding: 10px 10px 10px 0;
  }
  .div4 label input {
    background-color: #3A4980;
  }
  .div4 label input input::radio {
    accent-color: #3A4980;
  }
  .div5 {
    display: flex;
    justify-content: start;
    padding-top: 15px;
  }
  .div5 div:nth-child(1) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 28%;
    height: 59px;
    border-radius: 30px;
    background-color: #F3F3F3;
    margin-right: 30px;
  }
  .div5 div:nth-child(1) p:nth-child(1) {
    color: #A3A3A3;
    font-size: 1.125rem;
  }
  .div5 div:nth-child(1) p:nth-child(2) {
    color: #3A4980;
    font-size: 1.375rem;
    font-weight: 700;
  }
  .div5 div:nth-child(1) p:nth-child(3) {
    color: #3A4980;
    font-size: 1.125rem;
  }
  .div5 div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51%;
    height: 59px;
    border-radius: 30px;
    background-color: #3A4980;
    color: #fff;
  }
  .div6 {
    border: 1px solid #E4E4E4;
    border-radius: 14px;
    padding: 17px;
    margin-top: 30px;
  }
  .div6 section {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .div6 section article {
    margin-left: 15px;
  }
  .div6 section article p:nth-child(1) {
    margin: 5px;
    color: #1D364D;
    font-size: 1.1rem;
    font-weight: 700;
  }
  .div6 section article p:nth-child(2) {
    margin: 5px;
  }
  .div6 section article p:nth-child(2) a {
    color: #726C6C;
    font-size: 0.875rem;
    text-decoration: underline #726C6C;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 1px solid lightgrey;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 54%;
  }
  nav .fashionhub {
    width: 40%;
  }
  .morning {
    color: #C0C3C6;
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .scarlet {
    color: #1D364D;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
  }
  nav:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    width: 36%;
  }
  nav:nth-child(2) img {
    width: 15%;
  }
  main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
  }
  main .images {
    width: 56%;
  }
  main .images-firstfoto {
    width: 95%;
  }
  main figure {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
  }
  main figure .controller {
    width: 15px;
  }
  main figure img {
    width: 20%;
  }
  main .div-main {
    width: 47%;
  }
  main .div-main hr {
    width: 100%;
    color: #E4E4E4;
    border: 1px solid #E4E4E4;
  }
  main .paths {
    background-color: #edf0f8;
    color: #A3A9C2;
    padding: 10px;
    width: 60%;
    border-radius: 10px;
  }
  main .paths span:nth-last-child(1) {
    color: #3A4980;
    font-weight: 500;
  }
  .div1 {
    display: block;
  }
  .div1 img {
    align-self: center;
  }
  .div1 section h3 {
    font-size: 1.75rem;
    margin: 41px 0 16px;
  }
  .div1 section p {
    font-size: 1rem;
    color: #B9BBBF;
  }
  .div2 {
    display: block;
    width: 81%;
  }
  .div2 section:nth-child(1) .price {
    color: #3A4980;
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 0;
  }
  .div2 section:nth-child(1) .deleted {
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.5019607843);
    margin-top: 10px;
    font-size: 1.3rem;
  }
  .div2 section:nth-child(2) {
    align-self: center;
    margin-top: 30px;
  }
  .div2 section:nth-child(2) p {
    color: #B9BBBF;
    font-size: 0.9rem;
  }
  .div2 section:nth-child(2) p span {
    color: #3E9242;
  }
  .div3 div {
    margin-bottom: 15px;
  }
  .div3 p {
    font-size: 1rem;
    color: #B9BBBF;
  }
  .div4 {
    margin-bottom: 20px;
  }
  .div4 .radio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .div4 p {
    font-size: 1rem;
    color: #B9BBBF;
  }
  .div4 label {
    width: 87%;
    height: 30px;
    font-size: 0.9rem;
    background-color: #F3F3F3;
    color: #726C6C;
    align-self: center;
    text-align: center;
    border-radius: 8px;
    padding: 5px 0 0;
  }
  .div4 label input {
    background-color: #3A4980;
  }
  .div4 label input input::radio {
    accent-color: #3A4980;
  }
  .div5 {
    display: flex;
    justify-content: start;
    padding-top: 15px;
  }
  .div5 div:nth-child(1) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 28%;
    height: 50px;
    border-radius: 30px;
    background-color: #F3F3F3;
    margin-right: 30px;
  }
  .div5 div:nth-child(1) p:nth-child(1) {
    color: #A3A3A3;
    font-size: 1rem;
  }
  .div5 div:nth-child(1) p:nth-child(2) {
    color: #3A4980;
    font-size: 1.1rem;
    font-weight: 700;
  }
  .div5 div:nth-child(1) p:nth-child(3) {
    color: #3A4980;
    font-size: 1rem;
  }
  .div5 div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51%;
    height: 50px;
    border-radius: 30px;
    background-color: #3A4980;
    color: #fff;
  }
  .div6 {
    border: 1px solid #E4E4E4;
    border-radius: 14px;
    padding: 17px;
    margin-top: 30px;
  }
  .div6 section {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .div6 section article {
    margin-left: 15px;
  }
  .div6 section article p:nth-child(1) {
    margin: 5px;
    color: #1D364D;
    font-size: 1.1rem;
    font-weight: 700;
  }
  .div6 section article p:nth-child(2) {
    margin: 5px;
  }
  .div6 section article p:nth-child(2) a {
    color: #726C6C;
    font-size: 0.875rem;
    text-decoration: underline #726C6C;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  header {
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid lightgrey;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  nav .fashionhub {
    width: 40%;
  }
  .morning {
    color: #C0C3C6;
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .scarlet {
    color: #1D364D;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
  }
  nav:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
  }
  nav:nth-child(2) img {
    width: 10%;
  }
  main {
    display: block;
    padding-top: 40px;
  }
  main .images {
    width: 85%;
    display: block;
    margin: 0 auto;
  }
  main .images-firstfoto {
    width: 95%;
  }
  main figure {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
  }
  main figure .controller {
    width: 15px;
  }
  main figure img {
    width: 20%;
  }
  main .div-main {
    width: 100%;
  }
  main .div-main hr {
    width: 100%;
    color: #E4E4E4;
    border: 1px solid #E4E4E4;
  }
  main .paths {
    background-color: #edf0f8;
    color: #A3A9C2;
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    margin-left: 25px;
  }
  main .paths span:nth-last-child(1) {
    color: #3A4980;
    font-weight: 500;
  }
  .div1 {
    display: flex;
    justify-content: space-around;
  }
  .div1 img {
    align-self: center;
  }
  .div1 section h3 {
    font-size: 1.75rem;
    margin: 41px 0 16px;
  }
  .div1 section p {
    font-size: 1rem;
    color: #B9BBBF;
  }
  .div2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .div2 section:nth-child(1) .price {
    color: #3A4980;
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 0;
  }
  .div2 section:nth-child(1) .deleted {
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.5019607843);
    margin-top: 10px;
    font-size: 1.3rem;
  }
  .div2 section:nth-child(2) {
    align-self: center;
    margin-top: 30px;
  }
  .div2 section:nth-child(2) p {
    color: #B9BBBF;
    font-size: 0.9rem;
  }
  .div2 section:nth-child(2) p span {
    color: #3E9242;
  }
  .div3 {
    padding-left: 35px;
  }
  .div3 div {
    margin-bottom: 15px;
  }
  .div3 p {
    font-size: 1rem;
    color: #B9BBBF;
  }
  .div4 {
    margin-bottom: 20px;
    padding-left: 30px;
  }
  .div4 .radio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .div4 p {
    font-size: 1rem;
    color: #B9BBBF;
  }
  .div4 label {
    width: 87%;
    height: 30px;
    font-size: 0.9rem;
    background-color: #F3F3F3;
    color: #726C6C;
    align-self: center;
    text-align: center;
    border-radius: 8px;
    padding: 5px 0 0;
  }
  .div4 label input {
    background-color: #3A4980;
  }
  .div4 label input input::radio {
    accent-color: #3A4980;
  }
  .div5 {
    display: flex;
    justify-content: start;
    padding-top: 15px;
    padding-left: 30px;
  }
  .div5 div:nth-child(1) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 28%;
    height: 50px;
    border-radius: 30px;
    background-color: #F3F3F3;
    margin-right: 30px;
  }
  .div5 div:nth-child(1) p:nth-child(1) {
    color: #A3A3A3;
    font-size: 1rem;
  }
  .div5 div:nth-child(1) p:nth-child(2) {
    color: #3A4980;
    font-size: 1.1rem;
    font-weight: 700;
  }
  .div5 div:nth-child(1) p:nth-child(3) {
    color: #3A4980;
    font-size: 1rem;
  }
  .div5 div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51%;
    height: 50px;
    border-radius: 30px;
    background-color: #3A4980;
    color: #fff;
  }
  .div6 {
    border: 1px solid #E4E4E4;
    border-radius: 14px;
    padding: 17px;
    margin-top: 30px;
  }
  .div6 section {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .div6 section article {
    margin-left: 15px;
  }
  .div6 section article p:nth-child(1) {
    margin: 5px;
    color: #1D364D;
    font-size: 1.1rem;
    font-weight: 700;
  }
  .div6 section article p:nth-child(2) {
    margin: 5px;
  }
  .div6 section article p:nth-child(2) a {
    color: #726C6C;
    font-size: 0.875rem;
    text-decoration: underline #726C6C;
  }
}

/*# sourceMappingURL=style.css.map */
