 @mixin flex(){
    display: flex;
 }
 body{
    font-family: "Inter", sans-serif;
 }
 header{
    @include flex();
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 1px solid lightgrey;
 }
 nav{
    @include flex();
    justify-content: space-between;
    align-items: center;
    width: 45%;
    .fashionhub{
        width: 40%;
    }
 }
 .morning{
   color: #C0C3C6;
   font-size: 12px;
   margin-bottom: 0;
 }
 .scarlet{
   color: #1D364D;
   font-size: 16px;
   font-weight: 600;
   margin-top: 10px;
 }
 nav:nth-child(2){
     display: flex;
     justify-content: space-evenly;
     width: 30%;
 }
 main{
    @include flex();
    justify-content: space-evenly;
    padding-top: 40px;
.images-firstfoto{
   width: 95%;
}

   figure{
display: flex;
align-items: center;
justify-content: space-around;
width: 100%;
margin: 20px 0;
   }

.div-main{
   width: 47%;

   hr{
      width: 100%;
      color: #E4E4E4;
      border: 1px solid #E4E4E4;
   }
}
    .paths{
        background-color: #edf0f8;
        color: #A3A9C2;
        padding: 10px;
        width: 433px;
        border-radius: 10px;

        span:nth-last-child(1){
            color: #3A4980;
            font-weight: 500;
        }
    }
 }
 .div1{
   display: flex;
   justify-content: space-between;
   

   img{
      align-self: center;
   }
   section{
        
      h3{
         font-size: 1.75rem;
         margin: 41px 0 16px;
      }
      p{
         font-size: 1rem;
         color: #B9BBBF;
      }
   }
 }
 .div2{

   @include flex();
   justify-content: space-between;
   width: 81%;
   section:nth-child(1){
      .price{
         color: #3A4980;
         font-size: 2.1rem;
         font-weight: 700;
         margin-bottom: 0;
      }
      .deleted{
         text-decoration-line: line-through;
         color: #00000080;
         margin-top: 10px;
         font-size: 1.3rem;
      }
   }
   section:nth-child(2){
      align-self: center;
      margin-top: 30px;
      p{
         color: #B9BBBF;
         font-size: 0.9rem;
       
         span{
            color: #3E9242;
         }
      }
   }
 }
 .div3{
  div{
   margin-bottom: 15px;
  }
    p{
       font-size: 1rem;
       color: #B9BBBF;
    }
 }
 .div4{
   margin-bottom: 35px;
   p{
      font-size: 1rem;
       color: #B9BBBF;
   }
   label{
      width: 19%;
      height: 40px;
      background-color: #F3F3F3;
      color: #726C6C;
      border-radius: 8px;
      margin: 10px;
      padding: 10px 10px 10px 0;
      input{
         background-color: #3A4980;
         input::radio{
            accent-color: #3A4980;
         }
      }
   }
 }
 .div5{
   @include flex();
   justify-content: start;
  padding-top: 15px;
    div:nth-child(1){
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 28%;
      height: 59px;
      border-radius: 30px;
      background-color: #F3F3F3;
      margin-right: 30px;
        p:nth-child(1){
            color: #A3A3A3;
            font-size: 1.125rem;
        }
        p:nth-child(2){
          color: #3A4980;
          font-size: 1.375rem;
          font-weight: 700;
        }
        p:nth-child(3){
         color: #3A4980;
         font-size: 1.125rem;
        }
    }
    div:nth-child(2){
      display: flex;
    justify-content: center;
    align-items: center;
      width: 51%;
      height: 59px;
      border-radius: 30px;
      background-color: #3A4980;
      color: #fff;
    }
 }
 .div6{
   border: 1px solid #E4E4E4;
   border-radius: 14px;
   padding: 17px;
   margin-top: 30px;
   section{

      display: flex;
      justify-content: start;
      align-items: start;
      
      article{

         margin-left: 15px;
         p:nth-child(1){
            margin: 5px;
            color: #1D364D;
            font-size: 1.1rem;
            font-weight: 700;
           
         }
         p:nth-child(2){
            margin: 5px;
            a{
               color: #726C6C;
               font-size: 0.875rem;
               text-decoration: underline #726C6C;
              }
         }
      }
     
   }
 }

 @media  screen and (max-width:1200px ) and (min-width: 901px) {
   html{
      font-size: 14px
   }
   header{
      @include flex();
      justify-content: space-between;
      padding: 10px 40px;
      border-bottom: 1px solid lightgrey;
   }
   nav{
      @include flex();
      justify-content: space-between;
      align-items: center;
      width: 45%;
      .fashionhub{
          width: 40%;
      }
   }
   .morning{
     color: #C0C3C6;
     font-size: 12px;
     margin-bottom: 0;
   }
   .scarlet{
     color: #1D364D;
     font-size: 16px;
     font-weight: 600;
     margin-top: 10px;
   }
   nav:nth-child(2){
       display: flex;
       justify-content: space-evenly;
       width: 36%;
   }
   main{
      @include flex();
      justify-content: space-evenly;
      padding-top: 40px;
  .images-firstfoto{
     width: 95%;
  }
  
     figure{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
     }
  
  .div-main{
     width: 47%;
  
     hr{
        width: 100%;
        color: #E4E4E4;
        border: 1px solid #E4E4E4;
     }
  }
      .paths{
          background-color: #edf0f8;
          color: #A3A9C2;
          padding: 10px;
          width: 375px;
          border-radius: 10px;
  
          span:nth-last-child(1){
              color: #3A4980;
              font-weight: 500;
          }
      }
   }
   .div1{
     display: flex;
     justify-content: space-between;
     
  
     img{
        align-self: center;
     }
     section{
          
        h3{
           font-size: 1.75rem;
           margin: 41px 0 16px;
        }
        p{
           font-size: 1rem;
           color: #B9BBBF;
        }
     }
   }
   .div2{
  
     @include flex();
     justify-content: space-between;
     width: 81%;
     section:nth-child(1){
        .price{
           color: #3A4980;
           font-size: 2.1rem;
           font-weight: 700;
           margin-bottom: 0;
        }
        .deleted{
           text-decoration-line: line-through;
           color: #00000080;
           margin-top: 10px;
           font-size: 1.3rem;
        }
     }
     section:nth-child(2){
        align-self: center;
        margin-top: 30px;
        p{
           color: #B9BBBF;
           font-size: 0.9rem;
         
           span{
              color: #3E9242;
           }
        }
     }
   }
   .div3{
    div{
     margin-bottom: 15px;
    }
      p{
         font-size: 1rem;
         color: #B9BBBF;
      }
   }
   .div4{
     margin-bottom: 20px;


     .radio{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(2,1fr);
     }
     p{
        font-size: 1rem;
         color: #B9BBBF;
     }
     label{
      width: 70%;
      height: 30px;
      background-color: #F3F3F3;
      color: #726C6C;
      align-self: center;
      text-align: center;
      border-radius: 8px;
     
      padding: 10px 10px 10px 0;
        input{
           background-color: #3A4980;
           input::radio{
              accent-color: #3A4980;
           }
        }
     }
   }
   .div5{
     @include flex();
     justify-content: start;
    padding-top: 15px;
      div:nth-child(1){
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 28%;
        height: 59px;
        border-radius: 30px;
        background-color: #F3F3F3;
        margin-right: 30px;
          p:nth-child(1){
              color: #A3A3A3;
              font-size: 1.125rem;
          }
          p:nth-child(2){
            color: #3A4980;
            font-size: 1.375rem;
            font-weight: 700;
          }
          p:nth-child(3){
           color: #3A4980;
           font-size: 1.125rem;
          }
      }
      div:nth-child(2){
        display: flex;
      justify-content: center;
      align-items: center;
        width: 51%;
        height: 59px;
        border-radius: 30px;
        background-color: #3A4980;
        color: #fff;
      }
   }
   .div6{
     border: 1px solid #E4E4E4;
     border-radius: 14px;
     padding: 17px;
     margin-top: 30px;
     section{
  
        display: flex;
        justify-content: start;
        align-items: start;
        
        article{
  
           margin-left: 15px;
           p:nth-child(1){
              margin: 5px;
              color: #1D364D;
              font-size: 1.1rem;
              font-weight: 700;
             
           }
           p:nth-child(2){
              margin: 5px;
              a{
                 color: #726C6C;
                 font-size: 0.875rem;
                 text-decoration: underline #726C6C;
                }
           }
        }
       
     }
   }
  
 }
 @media  screen and (max-width: 900px) {
   html{
      font-size: 14px
   }
   header{
      @include flex();
      justify-content: space-between;
      padding: 10px 40px;
      border-bottom: 1px solid lightgrey;
   }
   nav{
      @include flex();
      justify-content: space-between;
      align-items: center;
      width: 54%;
      .fashionhub{
          width: 40%;
      }
   }
   .morning{
     color: #C0C3C6;
     font-size: 0.8rem;
     margin-bottom: 0;
   }
   .scarlet{
     color: #1D364D;
     font-size: 1rem;
     font-weight: 600;
     margin-top: 10px;
   }
   nav:nth-child(2){
       display: flex;
       justify-content: space-evenly;
       width: 36%;
       img{
         width: 15%;
       }
   }
   main{
      @include flex();
      justify-content: space-evenly;
      padding-top: 40px;
      .images{
         width: 56%;
      }
  .images-firstfoto{
     width: 95%;
  }
  
     figure{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
.controller{
   width: 15px;
}
  img{
   width: 20%;
  }
     }
  
  .div-main{
     width: 47%;
  
     hr{
        width: 100%;
        color: #E4E4E4;
        border: 1px solid #E4E4E4;
     }
  }
      .paths{
          background-color: #edf0f8;
          color: #A3A9C2;
          padding: 10px;
          width: 60%;
          border-radius: 10px;
  
          span:nth-last-child(1){
              color: #3A4980;
              font-weight: 500;
          }
      }
   }
   .div1{
     display: block;
   //   justify-content: space-between;
     
  
     img{
        align-self: center;
     }
     section{
          
        h3{
           font-size: 1.75rem;
           margin: 41px 0 16px;
        }
        p{
           font-size: 1rem;
           color: #B9BBBF;
        }
     }
   }
   .div2{
  
    display: block;
     width: 81%;
     section:nth-child(1){
        .price{
           color: #3A4980;
           font-size: 2.1rem;
           font-weight: 700;
           margin-bottom: 0;
        }
        .deleted{
           text-decoration-line: line-through;
           color: #00000080;
           margin-top: 10px;
           font-size: 1.3rem;
        }
     }
     section:nth-child(2){
        align-self: center;
        margin-top: 30px;
        p{
           color: #B9BBBF;
           font-size: 0.9rem;
         
           span{
              color: #3E9242;
           }
        }
     }
   }
   .div3{
    div{
     margin-bottom: 15px;
    }
      p{
         font-size: 1rem;
         color: #B9BBBF;
      }
   }
   .div4{
     margin-bottom: 20px;


     .radio{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(2,1fr);
     }
     p{
        font-size: 1rem;
         color: #B9BBBF;
     }
     label{
      width: 87%;
      height: 30px;
      font-size: 0.9rem;
      background-color: #F3F3F3;
      color: #726C6C;
      align-self: center;
      text-align: center;
      border-radius: 8px;
     
      padding:5px 0  0;
        input{
           background-color: #3A4980;
           input::radio{
              accent-color: #3A4980;
           }
        }
     }
   }
   .div5{
     @include flex();
     justify-content: start;
    padding-top: 15px;
      div:nth-child(1){
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 28%;
        height: 50px;
        border-radius: 30px;
        background-color: #F3F3F3;
        margin-right: 30px;
          p:nth-child(1){
              color: #A3A3A3;
              font-size: 1rem;
          }
          p:nth-child(2){
            color: #3A4980;
            font-size: 1.1rem;
            font-weight: 700;
          }
          p:nth-child(3){
           color: #3A4980;
           font-size: 1rem;
          }
      }
      div:nth-child(2){
        display: flex;
      justify-content: center;
      align-items: center;
        width: 51%;
        height: 50px;
        border-radius: 30px;
        background-color: #3A4980;
        color: #fff;
      }
   }
   .div6{
     border: 1px solid #E4E4E4;
     border-radius: 14px;
     padding: 17px;
     margin-top: 30px;
     section{
  
        display: flex;
        justify-content: start;
        align-items: start;
        
        article{
  
           margin-left: 15px;
           p:nth-child(1){
              margin: 5px;
              color: #1D364D;
              font-size: 1.1rem;
              font-weight: 700;
             
           }
           p:nth-child(2){
              margin: 5px;
              a{
                 color: #726C6C;
                 font-size: 0.875rem;
                 text-decoration: underline #726C6C;
                }
           }
        }
       
     }
   }
  
 }
 @media  screen and (max-width: 600px) {
   html{
      font-size: 14px
   }
   header{
     
      display: block;
      padding: 10px 20px;
      border-bottom: 1px solid lightgrey;
   }
   nav{
      @include flex();
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .fashionhub{
          width: 40%;
      }
   }
   .morning{
     color: #C0C3C6;
     font-size: 0.8rem;
     margin-bottom: 0;
   }
   .scarlet{
     color: #1D364D;
     font-size: 1rem;
     font-weight: 600;
     margin-top: 10px;
   }
   nav:nth-child(2){
       display: flex;
       justify-content: space-evenly;
       width: 90%;
       img{
         width: 10%;
       }
   }
   main{
      display: block;
      padding-top: 40px;
   .images{
         width: 85%;
         display: block;
         margin: 0 auto;
      }
  .images-firstfoto{
     width: 95%;
  }
  
     figure{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
.controller{
   width: 15px;
}
  img{
   width: 20%;
  }
     }
  
  .div-main{
     width: 100%;
  
     hr{
        width: 100%;
        color: #E4E4E4;
        border: 1px solid #E4E4E4;
     }
  }
      .paths{
          background-color: #edf0f8;
          color: #A3A9C2;
          padding: 10px;
          width: 60%;
          border-radius: 10px;
        margin-left: 25px;
          span:nth-last-child(1){
              color: #3A4980;
              font-weight: 500;
          }
      }
   }
   .div1{
     display: flex;
     justify-content: space-around;
     
  
     img{
        align-self: center;
     }
     section{
          
        h3{
           font-size: 1.75rem;
           margin: 41px 0 16px;
        }
        p{
           font-size: 1rem;
           color: #B9BBBF;
        }
     }
   }
   .div2{
  
      display: flex;
      width: 100%;
      justify-content: space-around;
     section:nth-child(1){
        .price{
           color: #3A4980;
           font-size: 2.1rem;
           font-weight: 700;
           margin-bottom: 0;
        }
        .deleted{
           text-decoration-line: line-through;
           color: #00000080;
           margin-top: 10px;
           font-size: 1.3rem;
        }
     }
     section:nth-child(2){
        align-self: center;
        margin-top: 30px;
        p{
           color: #B9BBBF;
           font-size: 0.9rem;
         
           span{
              color: #3E9242;
           }
        }
     }
   }
   .div3{
      padding-left: 35px;
    div{
     margin-bottom: 15px;
    }
      p{
         font-size: 1rem;
         color: #B9BBBF;
      }
   }
   .div4{
     margin-bottom: 20px;
     padding-left: 30px;

     .radio{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(2,1fr);
     }
     p{
        font-size: 1rem;
         color: #B9BBBF;
     }
     label{
      width: 87%;
      height: 30px;
      font-size: 0.9rem;
      background-color: #F3F3F3;
      color: #726C6C;
      align-self: center;
      text-align: center;
      border-radius: 8px;
     
      padding:5px 0  0;
        input{
           background-color: #3A4980;
           input::radio{
              accent-color: #3A4980;
           }
        }
     }
   }
   .div5{
     @include flex();
     justify-content: start;
    padding-top: 15px;
    padding-left: 30px;
      div:nth-child(1){
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 28%;
        height: 50px;
        border-radius: 30px;
        background-color: #F3F3F3;
        margin-right: 30px;
          p:nth-child(1){
              color: #A3A3A3;
              font-size: 1rem;
          }
          p:nth-child(2){
            color: #3A4980;
            font-size: 1.1rem;
            font-weight: 700;
          }
          p:nth-child(3){
           color: #3A4980;
           font-size: 1rem;
          }
      }
      div:nth-child(2){
        display: flex;
      justify-content: center;
      align-items: center;
        width: 51%;
        height: 50px;
        border-radius: 30px;
        background-color: #3A4980;
        color: #fff;
      }
   }
   .div6{
     border: 1px solid #E4E4E4;
     border-radius: 14px;
     padding: 17px;
     margin-top: 30px;
     section{
  
        display: flex;
        justify-content: start;
        align-items: start;
        
        article{
  
           margin-left: 15px;
           p:nth-child(1){
              margin: 5px;
              color: #1D364D;
              font-size: 1.1rem;
              font-weight: 700;
             
           }
           p:nth-child(2){
              margin: 5px;
              a{
                 color: #726C6C;
                 font-size: 0.875rem;
                 text-decoration: underline #726C6C;
                }
           }
        }
       
     }
   }
  
 }